<div class="container">
  <div class="row">
    <div class="col-8">
      <% @letters.each do |letter| %>
        <div class="insta-letter">

          <div class="letter-meta">
            <%= link_to (profile_picture letter.owner, 40), profile_path(letter.owner.username) %>
            <%= link_to letter.owner.username, profile_path(letter.owner.username), class: 'text-dark' %>
          </div>

          <%= image_tag letter.image.url, class: 'img img-fluid' %>

          <div class="letter-details">

            <div class="letter-actions">
              <i class="fa fa-heart like-<%= letter.id %> <%= 'active' if letter_liked_by_user?(letter.id) %> fa-2x letter-like" data-id="<%= letter.id %>"></i>

              <%= link_to letter_path(letter.id) do %>
                <i class="fa fa-comment fa-2x letter-comment"></i>
              <% end %>
            </div>

            <p><strong id="<%= letter.id %>-likes"><%= letter.total_likes_count %> likes</strong></p>
            <p><strong id="<%= letter.id %>-comments"><%= link_to letter.owner.username, profile_path(letter.owner.username), class: 'text-dark' %></strong></p>
            <%= simple_format letter.description %>
            <small class="text-muted"><%= time_ago_in_words letter.created_at %> ago</small><br><br>

            <%= render 'letters/comments', letter: letter, comments: @comments = Comment.includes(:owner).where(letter_id: letter.id) %>

          </div>

          <div class="comment-box">
            <%= form_for @comment do |f| %>
              <%= f.hidden_field :letter_id, value: letter.id %>
              <div class="input-group">
                <%= f.text_field :comment, placeholder: 'Add comment here', class: 'form-control letter-comment' %>
                <div class="input-group-uppend">
                  <%= f.submit 'letter', class: 'btn btn-success float-right' %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div class="owner-summary">
        <p>
          <%= link_to image_tag(current_owner.image.thumb.url, class: 'img-circle float-left m-r-15'), profile_path(current_owner.username) if current_owner.image.present? %>
          <strong><%= current_owner.username %></strong><br>
          <%= current_owner.full_name %>
        </p>

        <div class="follower-suggestions">
          <%= link_to 'View All', '#', class: 'float-right' %>
          <p class="text-muted">Suggestions for you</p>
          <%= render 'owners/follower_suggestions' %>
        </div>

      </div>
    </div>
  </div>
</div>
