<div class="container">
  <div class="row">

    <div class="col-4">
      <%= profile_picture @owner, 200 %>
    </div>

    <div class="col-8 text-left">
      <div class="row">
        <div class="col-6">
          <%= link_to 'Edit Profile', edit_owner_registration_path, class: 'btn btn-muted btn-custom float-right' if can_edit_profile?(@owner.id) %>
          <h1><%= @owner.full_name %></h1>
        </div>
      </div>

      <div class="row profile-stats">
        <div class="col-4"><%= @owner.letters.count %> letters</div>
        <div class="col-4"><%= @owner.total_followers %> followers</div>
        <div class="col-4"><%= @owner.total_following %> following</div>
      </div>

      <p><%= @owner.full_name %></p>
      <%= simple_format @owner.description %>
      <p><%= link_to "#{@owner.website}", "https://#{@owner.website}", target: :_blank if @owner.website.present? %></p>
    </div>
  </div>

  <div class="row profile-letters">
    <% @letters.each do |letter| %>
      <div class="col-4">
        <div class="insta-letter letter-squere" style="background: url(<%= letter.image.url %>) no-repeat center top">
          <%= link_to letter_path(letter) do %>
            <div class="letter-stats">
              <div class="inner">
                <i class="fa fa-heart"></i> <%= letter.total_likes_count %>
                <i class="fa fa-comment m-l-15"></i> <%= letter.total_comments_count %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
