<div class="container letter-details">
  <div class="row">

    <div class="col-8">
      <div class="insta-letter">
        <%= image_tag @letter.image.url, class: 'img img-fluid' if @letter.image.present? %>
      </div>
    </div>

    <div class="col-4">
      <div class="letter-meta">
        <%= link_to (profile_picture @letter.owner, 40), profile_path(@letter.owner.username) %>
        <%= link_to @letter.owner.username, profile_path(@letter.owner.username), class: 'text-dark' %>
      </div>

      <div class="letter-details">
        <div class="comments-feed">
          <%= simple_format @letter.description %>
          <%= render 'letters/comments', letter: @letter, comments: @comments %>
        </div>

        <div class="letter-actions">
          <i class="fas fa-heart like-<%= @letter.id %> <%= 'active' if letter_liked_by_user?(@letter.id) %> fa-2x letter-like" data-id="<%= @letter.id %>"></i>
          <i class="fas fa-comment fa-2x letter-comment" id="letter-comment"></i>
        </div>

        <p><strong id="<%= @letter.id %>-likes"><%= @letter.total_likes_count %> likes</strong></p>
        <small class="text-muted"><%= time_ago_in_words @letter.created_at %> ago</small><br><br>
      </div>

      <div class="comment-box">
        <%= form_for @comment do |f| %>
          <%= f.hidden_field :letter_id, value: @letter.id %>
          <%= f.hidden_field :return_to, value: "letter" %>
          <div class="input-group">
            <%= f.text_field :comment, placeholder: 'Add comment here', class: 'form-control letter-comment' %>
            <div class="input-group-uppend">
              <%= f.submit 'letter', class: 'btn btn-success float-right' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
